<nav class="navbar navbar-light bg-light mb-5">
  <%= link_to "Wikinimous", articles_path, class:'navbar-brand text-secondary ps-4' %>
  <%= link_to "New article", new_article_path, class: 'text-secondary pe-4' %>
</nav>
